.shop-container
{
    display: grid;
    grid-template-columns: 4fr 1.120fr;
}

.product-container{
    margin-left: 30px;
    margin-right: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

}
.cart-container{
    text-align: center;
    background-color: #FFE0B3;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
